body {
  color: white !important;
  background-color: #090909 !important;
}
:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Montserrat", sans-serif;
}

.hero {
  background-color: #090909;
  color: white;
  text-align: center;
}
h1 {
  font-family: var(--second-font);
  font-style: bolder !important;
  font-size: 72px !important;
  margin: none auto;
  line-height: 1.5;
  padding: 0px;
}
h3 {
  font-family: var(--main-font);
  font-style: bold !important;
  font-size: 24px !important;
  font-weight: bold;
  letter-spacing: 10%;
  margin: 0 auto;
  padding: 0;
}
p {
  font-family: var(--second-font);
  font-weight: normal;
}
.hero-text {
  position: relative;
  display: flex;
  margin-top: -550px;
}

.hero-button {
  background: white;
  color: 272142;
  border-radius: 50px;
  padding: 10px 30px;
  border: none;
  font-family: var(--second-font);
  font-weight: bold;
  font-size: 14px;
}
.container {
  margin: 15px auto;
  max-width: 700px !important;
}
.container-2 {
  margin: 15px auto;
  max-width: 700px !important;
}
.container-3 {
  margin: 15px auto;
  max-width: 700px !important;
}
.images {
  margin-top: 380px;
}

.about-main {
  max-width: 1000;
}

.about-section {
  font-family: var(--main-font);
  color: #f65282;
  margin: 20px !important;
  font-style: bold !important;
  font-size: 24px !important;
  font-weight: bold;
}

.about-h1 {
  font-family: var(--main-font);
  font-style: bold !important;
  font-size: 64px !important;
  font-weight: bold;
  margin: 20px;
}

.about-p {
  font-style: bold !important;
  font-size: 18px !important;
  font-weight: normal;
  margin: 20px;
}
.icon-container {
  margin: 20px;
  margin-bottom: 30px;
}

.camera {
  scale: 90%;
  margin: 20px;
  margin-left: -15px;
}

.contact-button {
  background: white;
  color: 272142;
  border-radius: 50px;
  padding: 10px 30px;
  border: none;
  font-family: var(--second-font);
  font-weight: bold;
  font-size: 14px;
  margin: 10px;
}
.about-main-image {
  margin: 30px;
  padding: 0px;
}

.about-images {
  margin: 0 auto;
  padding: 0px;
}
